@using Hotello.Common
@model Hotello.Services.Expedia.Hotels.Models.Response.HotelRoomAvailabilityResponse
@{
    ViewBag.Title = "Availability Response";
}

<h2>Rooms Available for @Model.HotelName</h2>

<div class="well">
    
    <p>
        We're really sorry, we have nothing to display here at the moment, check back again soon.        
    </p>
    <p>
        We'll find you the right rooms at the right price!
    </p>
    
</div>
